:root {
    /* Colors */
    --purple: #531CB3;
    --purple-plum: #944BBB;
    --radical-red: #FF3562;
    --lavender-blush: #F9E7E7;
    --melon: #F7BFB4;
    --middle-grey: #8A817C;
    --dark: #212529;
}

.dashboard-body-escurecido {
    filter: blur(3px) brightness(0.8);
}

/* Anima os cards */
.animated.bounceInDown {
    animation-name: bounceInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.bounceInDown {
    animation-name: bounceInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}
/* Anima os cards */

/* Anima o menu lateral*/
.animated.bounceInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}
/* Anima o menu lateral */

/* Navbar */
.navbar {
    backdrop-filter: brightness(0.8)!important;
}

#app {
    background-color: var(--middle-grey);
}

/* Botões laterais */
.btn-menu-lt:hover {
    border-width: 2px;
    border-color: #fff;
    margin-bottom: 4px!important;
    box-shadow: 0px 0px 2px 0px #fff;
}

.btn-text-lt {
    opacity: 0;
    width: 230px;
    height: 50px;
    position: absolute;
    display: flex;
    top: 0px;
    right: -10px;
    justify-content: center;
    align-items: center;
}
.btn-text-lt:hover {
    opacity: 1;
    right: -150px;

}

.menu-lt {
    max-height: 25em;
    max-width: 5em;
}

/* _________ */

/* .menu-lt {
    overflow-y: auto !important;
    overflow-x: hidden !important;
} */

.menu-lt:hover {

}
/* 
.customScrollbar-x {
    overflow-y: hidden !important;
    overflow-x: auto !important;
}

.menu-lt::-webkit-scrollbar {
    width: 2px;
}

.menu-lt::-webkit-scrollbar-track {
    background-color: var(--lavender-blush) !important;
}

.menu-lt::-webkit-scrollbar-thumb {
    background-color: var(--middle-grey) !important;
    border-radius: 50px !important;
} */

/* Animações */
@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        transform: translateX(30px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}