<div>
    <div class="sub-section-title mb-5">
        <span class="undeline fw-lighter fs-7">Pedir um orçamento</span>
    </div>
    <div id="contents-orcamento" class="row mt-3 px-3 py-5 contents-blog position-relative">
        <div class="text-center">
            <h1 class="fs-4">Faça um orçamento para o seu site agora</h1>
        </div>
        <div class="container-fluid justify-content-center row">
            <div class="col-auto mt-3 text-center">
                <img class="img-fluid" src="assets/img/developing.png" alt="developing">
            </div>
            <div class="col-auto mt-5 mt-md-0 mt-lg-0 mt-xl-0 mt-xxl-0 d-flex justify-content-center flex-column">
                <h2 class="fs-5 mb-3">Crie seu orçamento agora</h2>
                <button id="openFormOrc" v-on:click="openViewOrcamento" data-bs-toggle="tooltip" data-bs-placement="left" title="Preencha um formulário para calcular o seu orçamento" type="button" class="mt-3 btn btn-lg btn-outline-dark">Abrir formulário <i class="fas fa-hand-point-up"></i></button>
            </div>
        </div>
    </div>

    <div class="viewOrcamento d-none position-fixed top-50 start-50 translate-middle p-4 shadow rounded customScrollbar-y">
        <!-- <div class="viewOrcamento position-fixed top-50 start-50 translate-middle p-4 shadow rounded customScrollbar-y"> -->
        <div class="button-close-post-blog d-flex align-items-center justify-content-end p-3">
            <button v-on:click="closeViewOrcamento" type="button" class="fs-4 btn-close float-end" aria-label="Close"></button>
        </div>
        <!-- Formulário de Orçamento -->
        <div>
            <div class="accordion" id="accordionInformacoesPessoais">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="informacoesPessoais-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#InformacoesPessoais-collapseOne" aria-expanded="true" aria-controls="informacoesPessoais-collapseOne">
                            Informações Pessoais
                        </button>
                    </h2>
                    <div id="InformacoesPessoais-collapseOne" class="accordion-collapse collapse" aria-labelledby="informacoesPessoais-headingOne">
                        <div class="accordion-body">

                            <form class="row">
                                <div class="col-6 mt-2">
                                    <div class="form-floating">
                                        <input type="text" name="first_name" class="form-control" id="nomeOrcamento" placeholder="Seu Nome">
                                        <label for="nomeOrcamento">Nome*</label>
                                    </div>
                                </div>
                                <div class="col-6 mt-2">
                                    <div class="form-floating">
                                        <input type="text" name="second_name" class="form-control" id="sobrenomeOrcamento" placeholder="Seu Sobrenome">
                                        <label for="sobrenomeOrcamento">Sobrenome*</label>
                                    </div>
                                </div>
                                <div class="col-6 mt-2">
                                    <div class="form-floating">
                                        <input type="email" name="email" class="form-control" id="emailOrcamento" placeholder="Seu e-mail">
                                        <label for="emailOrcamento">E-mail*</label>
                                    </div>
                                </div>
                                <div class="col-2 mt-2">
                                    <div class="form-floating">
                                        <select v-model="dadosFormOrcamento.tipoIdentificacao" id="tipoIdentificacao" name="tipoIdentificacao" class="form-select form-control" aria-label="Default select example">
                                            <option value="0" selected>Tipo</option>
                                            <option value="1">CPF</option>
                                            <option value="2">CNPJ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4 mt-2">
                                    <div v-if="dadosFormOrcamento.tipoIdentificacao != 0" class="form-floating">
                                        <input v-if="dadosFormOrcamento.tipoIdentificacao == 1" name="cpf" class="form-control" id="cpfOrcamento" placeholder="Seu CPF">
                                        <input v-if="dadosFormOrcamento.tipoIdentificacao == 2" name="cnpj" class="form-control" id="cnpjOrcamento" placeholder="Seu CNPJ">
                                        <label v-if="dadosFormOrcamento.tipoIdentificacao == 1" for="cpfOrcamento">CPF*</label>
                                        <label v-if="dadosFormOrcamento.tipoIdentificacao == 2" for="cnpjOrcamento">CNPJ*</label>
                                    </div>
                                    <div v-else class="form-floating">
                                        <input disabled class="form-control" placeholder="Seu código de identificação">
                                        <label for="cellOrcamento">Identificação*</label>
                                    </div>
                                </div>
                                <div class="col-6 mt-2">
                                    <div class="form-floating">
                                        <input type="tel" name="celular" class="form-control" id="cellOrcamento" placeholder="Seu Telefone/Celular">
                                        <label for="cellOrcamento">(DDD) /Celular*</label>
                                    </div>
                                </div>
                                <div class="col-6 mt-2">
                                    <div class="form-floating">
                                        <input @keyup="buscarCep" type="text" name="cep" class="form-control" id="cepOrcamento" placeholder="Seu Cep">
                                        <label for="cepOrcamento">Cep*</label>
                                        <div id="cepHelp" class="form-text"></div>
                                    </div>
                                </div>
                                <div class="col-6 mt-2">
                                    <div class="form-floating">
                                        <input v-model="dadosFormOrcamento.bairro" type="text" class="form-control" id="bairroOrcamento" placeholder="Seu Bairro">
                                        <label for="sobrenomeOrcamento">Bairro</label>
                                    </div>
                                </div>
                                <div class="col-6 mt-2">
                                    <div class="form-floating">
                                        <input v-model="dadosFormOrcamento.logradouro" type="text" class="form-control" id="logradouroOrcamento" placeholder="Seu Logradouro">
                                        <label for="sobrenomeOrcamento">Logradouro</label>
                                    </div>
                                </div>
                                <div class="col-6 mt-2">
                                    <div class="form-floating">
                                        <input v-model="dadosFormOrcamento.estado" type="text" class="form-control" id="estadoOrcamento" placeholder="Seu Estado">
                                        <label for="sobrenomeOrcamento">Estado</label>
                                    </div>
                                </div>
                                <div class="col-6 mt-2">
                                    <div class="form-floating">
                                        <input v-model="dadosFormOrcamento.cidade" type="text" class="form-control" id="cidadeOrcamento" placeholder="Sua Cidade">
                                        <label for="sobrenomeOrcamento">Cidade</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div v-if="dadosFormOrcamento.tipoIdentificacao == 2" class="accordion-item mt-2">
                    <h2 class="accordion-header" id="dadosEmpresa-headingTwo">
                        <button :disabled="dadosFormOrcamento.tipoIdentificacao != 2" class="accordion-button" type="button" data-bs-toggle="collapse" :data-bs-target="dadosFormOrcamento.tipoIdentificacao == 2 ? '#dadosEmpresa-collapseTwo' : ''" aria-expanded="true" aria-controls="dadosEmpresa-collapseTwo">
                            Dados da Empresa
                        </button>
                    </h2>
                    <div id="dadosEmpresa-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="dadosEmpresa-headingTwo">
                        <div class="accordion-body">

                            <form class="row">
                                <div class="col-6 mt-2">
                                    <div class="form-floating">
                                        <input type="text" name="nome_empresa" class="form-control" id="nomeEmpresa" placeholder="Nome da Empresa">
                                        <label for="nomeEmpresa">Nome da Empresa*</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>