<div>
    <div class="sub-section-title mb-5">
        <span class="undeline fw-lighter fs-7">Blog</span>
    </div>
    <div id="contents-blog" class="row mt-3 px-3 contents-blog position-relative">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
            <div v-on:click="openViewPostBlog(blog.data[0]?blog.data[0]:'')" id="blog-last-publication">
                <div class="position-relative cursor">
                    <img id="image-after-publication" :src="blog.data[0]?blog.data[0].srcImg:''" :alt="blog.data[0]?blog.data[0].description:''" class="img-fluid img-thumbnail" :title="blog.data[0]?blog.data[0].title:''">
                    <div class="badge text-nowrap position-absolute bottom-0 start-0 m-3" style="width: 6rem;">
                        <span class="text-dark bg-light p-1 rounded">{{blog.data[0]?blog.data[0].title:''}}</span>
                    </div>
                    <div class="badge text-nowrap position-absolute top-0 start-0 m-3" style="width: 6rem;">
                        <span class="text-dark bg-light p-1 rounded">Ultima publicação</span>
                    </div>
                    <div id="descrption-after-publication" class="position-absolute top-50 start-50 translate-middle">
                        <div class="rounded d-none d-xs-none d-sm-none d-md-block">
                            <p class="text-dark p-1">
                                {{blog.data[0]?(blog.data[0].description.substring(0, 120) + (blog.data[0].description.length > 120? '...': '')):''}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-relative col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="title-publications">
                <span>Publicações</span>
            </div>
            <div id="blog-publications" class="position-relative flipped border-top border-bottom customScrollbar-x">
                <div class="d-flex content">
                    <div class="cursor border rounded p-2 mb-2 post-blog-publications row" v-for="(item, index) in blog.data" v-if="index >= 1">
                        <div v-on:click="openViewPostBlog(item)" :id="'post-'+index">
                            <div class="col d-flex justify-content-center">
                                <img :title="item.title" :src="item.srcImg" :alt="item.description" class="blog-list-image img-fluid img-thumbnail rounded float-start">
                            </div>
                            <div class="col p-3">
                                <span>{{item.title}}</span>
                                <p class="text-truncate">{{item.description}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="container d-flex align-items-center justify-content-center">
                        <button v-if="moreDataPort.blog" v-on:click="loadBlog" class="btn btn-small btn-dark m-2 rounded-pill"><i class="fas fa-angle-right"></i></button>
                        <button v-else v-on:click="loadBlog(true)" class="btn btn-small btn-dark m-2 rounded-pill"><i class="fas fa-angle-left"></i></button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between py-3 px-4">
                <i data-bs-toggle="tooltip" data-bs-placement="top" title="Retroceder" v-on:click="scrollbarPostsBlogBack" class="cursor fs-1 fas fa-angle-double-left"></i>
                <i data-bs-toggle="tooltip" data-bs-placement="top" title="Avançar" v-on:click="scrollbarPostsBlogMore" class="cursor fs-1 fas fa-angle-double-right"></i>
            </div>
        </div>
    </div>


    <!-- View Post Blog -->
    <div class="containerViewPostBlog position-fixed top-50 start-50 translate-middle d-none">
    </div>
    <div v-if="(blog.selectedPost != null)" class="position-fixed top-50 start-50 translate-middle viewPostBlog p-4 shadow rounded d-none customScrollbar-y">
        <div class="button-close-post-blog d-flex align-items-center justify-content-end p-3">
            <button v-on:click="closeViewPostBlog" type="button" class="fs-4 btn-close float-end" aria-label="Close"></button>
        </div>
        <div>
            <div class="row">
                <div class="image-view-post-blog col-md-6 col-sm-12 col-xs-12 col-lg-6">
                    <img :src="blog.selectedPost.srcImg?blog.selectedPost.srcImg:''" :alt="blog.selectedPost.title?blog.selectedPost.title:''" class="img-fluid img-thumbnail" :alt="blog.selectedPost.title?blog.selectedPost.title:''">
                </div>
                <div class="col">
                    <h1 class="text-dark p-1">
                        {{blog.selectedPost.title?blog.selectedPost.title:''}}
                    </h1>
                    <p>{{blog.selectedPost.description?blog.selectedPost.description:''}}
                    </p>
                </div>
            </div>
            <hr />
            <div class="p-2 mt-4">
                <p>{{blog.selectedPost.content?blog.selectedPost.content:''}}</p>
                <div>
                </div>
            </div>
        </div>

    </div>
    <!-- View Post Blog -->